<div class="container">
    <div id="container" fxLayout='row' fxLayoutGap="4px">
        <div class="icons">
            <button class="buttons">
                <img class="icon" id="icon" src="../../../assets/icons/bellicon.svg" width="20" height="20" alt="">
            </button>
        </div>
        <div class="icons">
            <button class="buttons">
                <img class="icon" src="../../../assets/icons/addimg.svg" width="20" height="20" alt="">
            </button>
        </div>

        <div class="icons">
            <button class="buttons" matTooltip="Change colour">
                <img class="icon" src="../../../assets/icons/colourpallete.svg" width="20" height="20" alt="">

            </button>

        </div>
        <div class="icons">
            <button class="buttons">
                <img class="icon" src="../../../assets/icons/img.svg" width="20" height="20" alt="">
            </button>
        </div>

        <div class="icons" matTooltip="archive">
            <button class="buttons">
                <img class="icon" src="../../../assets/icons/archive.svg" width="20" height="20" alt="">
            </button>
        </div>



        <button class="buttons" matTooltip="more">
            <img class="icons" src="../../../assets/icons/more.svg" width="20" height="20" alt="">


        </button>
    </div>

</div>