<mat-card class="cn-card ">
    <div class="card-title" *ngIf="fullEdit">
        <input class="title-in font" matInput placeholder="Title" id="title" [(ngModel)]="title">

        <div class="pin-div"  matTooltip="Pin note" >
            <div role="button" class="pin" ><img src="../../../assets/dashboard/pin.svg" alt="">
            </div>
        </div>
    </div>

    <div class="note-input" (click)=displayFull()>
        <input  Placeholder="Take a note..."
            class="notes-main"  id="description" [(ngModel)]="description">
        <div class="img-upload" *ngIf="!fullEdit"></div>

    </div>

    <div class="card-bottom" id="bottom" *ngIf="fullEdit">
        <div class="note-prop">
            <div class="reminder prop"  matTooltip="Remind me" ></div>
            <div class="back-img prop" role="button" matTooltip="Add image" ></div>
            <div class="back-color prop" role="button" matTooltip="Change color" ></div>
            <div class="archive prop" role="button" matTooltip="Archive"></div>
            <div class="more-opn prop" role="button" matTooltip="More" ></div>
            <div class="undo prop" role="button" disabled matTooltip="undo" ></div>
            <div class="redo prop" role="button" matTooltip="redo" ></div>

        </div>
        <div class="close-note"  (click)="addNote()">Close</div>
    </div>

</mat-card>
