<div class="container" fxFlex.xs=100 >
    <div class="contaner-form">
        <div>
            <link rel="stylesheet" href="./forget-password.component.scss">
        </div>
        <div id="form-container" class="form" fxLayout="column" style="padding-top: 10%;">
            <form [formGroup]="forgotEmailForm" >
                    <div class="FundooName" text-align="center">
                        <span style="color: red">F</span>
                        <span style="color: yellow">u</span>
                        <span style="color: green">n</span>
                        <span style="color: blue">d</span>
                        <span style="color: orange">o</span>
                        <span style="color: red">o</span><br><br>
                    <span id="head">Find Your Email</span><br><br>
                    <span id="head1" >Enter your phone number or recovery email</span>
                </div>
                <div class="username" fxLayout="column" style="margin-top: 50px;"  >
                    <div>
                        <mat-form-field appearance="outline" style="width: 90%;">
                            <mat-label>Phone Number or Email</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="Email"   [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                            <mat-hint *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                                <mat-hint *ngIf="f.Email.errors.required" class="error">user name is required</mat-hint>
                            </mat-hint>
                        </mat-form-field>
                    </div>   
                </div>     
                <div class="button-section" style="text-align: right;" >
                    <button mat-raised-button class="button1" type="submit" (click)="onSubmit()">Next</button>
                </div>
                <div class="langauge"> 
                    <select name="lang" id="lang">
                        <option value="">English (United States)</option>
                    <option value="">English (United Kingdom)</option>
                    <option value="">Indonesia</option>
                     </select> 
                </div>
                <ul class="list" fxLayout="row">
                    <a href=""><li id="l1">Help</li></a>
                    <a href=""><li id="l2">Privacy</li></a>
                    <a href=""><li id="l3">Terms</li></a>
                </ul>      
            </form>
        </div>
    </div>
</div>  