<!DOCTYPE html>
<html lang="en">
<div class="container" fxFlex.xs=100>
  <div class="form-container">
    <div>
      <link rel="stylesheet" href="./registration.component.scss">
    </div>
    <div id="form-container" class="form" fxLayout="column" style="padding-top: 10%;">
        <form [formGroup]="registration" >
        <div class="FundooName" text-align="center">
            <span style="color: red">F</span>
            <span style="color: yellow">u</span>
            <span style="color: green">n</span>
            <span style="color: blue">d</span>
            <span style="color: orange">o</span>
            <span style="color: red">o</span><br><br>
          <span id="head">Create Your Fundoo Account</span>
        </div>
        <div class="name" fxLayout="row" fxLayoutGap="5px" fxLayout.xs="column" >
          <div>
            <mat-form-field appearance="outline" fxFlex.xs=100 >
              <mat-label>First name</mat-label>
              <input matInput placeholder="Placeholder" formControlName="Firstname"   [ngClass]="{ 'is-invalid': submitted && f.Firstname.errors }"/>
              <mat-hint *ngIf="submitted && f.Firstname.errors" class="invalid-feedback">
                <mat-hint *ngIf="f.Firstname.errors.required" class="error">First Name is required</mat-hint>
            </mat-hint>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" fxFlex.xs=100 >
              <mat-label>Last name</mat-label>
              <input matInput placeholder="Placeholder" formControlName="Lastname"   [ngClass]="{ 'is-invalid': submitted && f.Lastname.errors }" />
              <mat-hint *ngIf="submitted && f.Lastname.errors" class="invalid-feedback">
                <mat-hint *ngIf="f.Lastname.errors.required" class="error">Last Name is required</mat-hint>
            </mat-hint>
            </mat-form-field>
          </div>
        </div>
        <div class="email">
          <p>
            <mat-form-field id="email" appearance="outline" style="width: 68%;" fxFlex.xs=100 >
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" formControlName="Email"   [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"/>
              <mat-hint *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                <mat-hint *ngIf="f.Email.errors.required" class="error">Email is required</mat-hint>
            </mat-hint>
            </mat-form-field>
          </p>
        </div>
          <div class="head1">
            <button id="head1" >Use my current email address instead</button>
        </div>   
        <div class="password" fxLayout="row" fxLayoutGap="5px" fxLayout.xs="column"  >
            <div>
                <mat-form-field id="pswrd" appearance="outline"  fxFlex.xs=100 >
                <mat-label >password</mat-label>
                <input type="password" matInput placeholder="Placeholder" formControlName="Password"   [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                <mat-hint *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                    <mat-hint *ngIf="f.Password.errors.required" class="error">Password is required</mat-hint>
                </mat-hint>
                </mat-form-field>
            </div>    
            <div>
                <mat-form-field id="confirm" appearance="outline" fxFlex.xs=100>
                <mat-label >confirm</mat-label>
                <input type="password" matInput placeholder="Placeholder" formControlName="Confirm"   [ngClass]="{ 'is-invalid': submitted && f.Confirm.errors }"/>
                <mat-hint *ngIf="submitted && f.Confirm.errors" class="invalid-feedback">
                    <mat-hint *ngIf="f.Confirm.errors.required" class="error">Password is required</mat-hint>
                </mat-hint>
                </mat-form-field>
            </div>  
        </div> 
        <div>
            <mat-checkbox class="example-margin">Show Password</mat-checkbox>
        </div>
        <div class="image-container" fxHide.xs>
            <img class="image" src="../../../assets/google image.svg" alt="" height="250" width="250">
            <div class="sub-head">
                One account. All of Google working for you.

            </div>

        </div>

        <div class="button-section" fxLayoutAlign="space-between" style="padding-top: 15%; ">
            <button mat-button type="button" class="button1" >Sign in instead</button>
            <button mat-raised-button class="button2" type="submit" (click)="onSubmit()" >Next</button>
        </div>

        <div class="langauge"> 
            <select name="lang" id="lang">
                <option value="">English (United States)</option>
                <option value="">English (United Kingdom)</option>
                <option value="">Indonesia</option>
            </select> 
        </div>
        <ul class="list" fxLayout="row">
            <a href=""><li id="l1">Help</li></a>
            <a href=""><li id="l2">Privacy</li></a>
            <a href=""><li id="l3">Terms</li></a>
        </ul>
        </form> 
    </div>
</div>
</div>
</html>
