.container{
    position: relative;
    height: 380px;
    width: 450px;
    margin-top: 30px;
    border:1px solid gray ;
    margin: 6% auto;
    padding: 3% 2%;
    border-radius: 8px;
}

.FundooName{
    text-align: center;
    margin-top: -30px;
    font-size: 25px;
}
#signin-head{
    top: 25px;
}
#Fletter{
    color: red;
}
#Uletter{
    color: #ffa500;
}#Nletter{
    color: blue;
}#Dletter{
    color: blue;
}
#Oletter{
    color: green;
}#O1letter{
    color:red;
}
.welcome{
    text-align: center;
    font-size: 25px;
    margin-top:  25px;
    color: black;
}
.password{
    margin-top: 40px;
    margin-left: 40px;
}
#password{
    width: 350px;
}

.show-password{
    position: relative;
    cursor: pointer;
    left: 50px;
    color: black;
    bottom: 10px;
}
.button2{
    cursor: pointer;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    margin-top: 60px;
    height: 30px;
    width: 50px;
    background-color: blue;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    margin-right: 50px;
}
    
.button1{
    cursor: pointer;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    margin-top: 60px;
    background-color: white;
    color: blue;
    font-weight: bolder;
  
}
.langauge{
    
    margin-right: 290px;
    margin-top: 50px;
}
#lang{
    border-bottom: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.list{
    float: left;
    margin-left: 250px;
    margin-top: -20px;
}
#l1{
    display: flex;
    flex-direction: row;
    color: black;
    margin-right: 20px;
}
#l2{
    display: flex;
    color: black;
    flex-direction: row;
    margin-right: 20px;
}
#l3{
    display: flex;
    color: black;
    flex-direction: row;
    margin-right: 10px;
}
a:link{
    text-decoration: none;
}
.error{
    color: red;
}
@media only screen and (max-width: 599px) {
    .container{
        border:none;
        padding: 4%;
    }
    .list{
        float: left;
        margin-left: 150px;
        margin-top: -20px;
    }
    #l1{
        display: flex;
        flex-direction: row;
        color: black;
        margin-right: 10px;
    }
    #l2{
        display: flex;
        color: black;
        flex-direction: row;
        margin-right: 10px;
    }
    #l3{
        display: flex;
        color: black;
        flex-direction: row;
        margin-right: 5px;
    }
}